<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:insert="logout :: logout"></div>

<div th:each=" user : ${users}">
    Id:  <tr th:text="${user.id}"></tr><br>
    Name:   <tr th:text="${user.firstName}"></tr><br>
    Last name:   <tr th:text="${user.lastName}"></tr><br>
    Email:  <tr th:text="${user.email}"></tr><br>

    <div th:each=" role : ${user.roles}">
        Role: <tr th:text="${role.nameRole}"></tr>
    </div>
    <br>

    <form method="get" th:action= "@{/admin/update}" >
        <input type="number" hidden name="id" th:value="${user.id}" />
        <p><input type="submit" value="Edit"></p>
    </form>

    <form method="post" th:action= "@{/admin/delete}" >
        <input type="number" hidden name="id" th:value="${user.id}" />
        <p><input type="submit" value="Delete"></p>
    </form>
    <hr>
</div>

<form th:name="user" method="post" th:action= "@{/admin/add}" >
    Name<label><input type="text" name="firstName"></label><br><br>
    Last name<label><input type="text" name="lastName"></label><br><br>
    Email<label><input type="text" name="email"></label><br><br>
    Password<label><input type="text" name="password"></label><br><br>

    <select th:name="role" multiple="multiple" size="2" required>
        <option th:each="role : ${roles}"
                th:value="${role.id}"
                th:text="${role.nameRole}">Wireframe</option>
    </select>

    <input type="submit" value="Add user"><br>
</form>

<form method="get" th:action="@{/user}">
    <input type="submit" value="User page">

</form>


</body>
</html>